body {
  margin: 0;
  font-family: Arial;
  background: #0d0d0d;
  color: white;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.card {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 12px;
  width: 50%;
}

input,
textarea,
select {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

textarea {
  height: 120px;
}

button {
  margin-top: 10px;
  width: 100%;
  padding: 12px;
  background: #00c853;
  border: none;
  color: white;
  cursor: pointer;
}
